body { margin: 0; overflow: hidden; width:100%; height: 100%;}

#PausedMenu{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor:pointer;
    display: block;
    background-color: rgb(0,0,0,0.7);
    z-index: 1000;
}

#LoadingScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    background: linear-gradient(#fff8cf,#ffb15e , #ff6448);;
    z-index: 1000;
}

#InformationScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: none;
    background-color: rgb(0,0,0,0.3);
    z-index: 1001;
}

#AddBookMenu {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgb(0,0,0,0.7);
    z-index: 999;
}

#AddBookForm {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InstructionsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.InformationScreenInnerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.LoadingScreenInnerContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BookFormContainer {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PausedMenuLabel {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
}

.LoadingLabel {
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:honeydew;
    padding: 10px;
    margin-bottom: 50px;
}

.ResumeLabel {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    padding: 10px;
}

#DismissBookMenuButton {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1002;
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: slategray;
}

#PermanentTextBoxContainer {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.PermanentTextBox {
    position: absolute;
    height: auto;
    width: auto;
    margin-bottom: 70px;
    text-align: center;
    text-shadow: 1px 1px 10px rgb(0,0,0,0.7);
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    z-index: 999;
    resize: none;
    border: none;
    opacity: 0;
    transition: 0.2s all;
    color: white;
    align-self: center;
}

.LoadedButton {
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    border: none;
    display: none;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s all;
}

.LoadedButton:hover {
    transform: scale(1.2)
}

#ProgressBarContainer {
    height: 30px;
    width: 75%;
    background-color: white;
    border-radius: 25px;
    z-index: 1004;
    overflow: hidden;
}

#ProgressBar {
    width: 1%;
    height: 30px;
    background-color: forestgreen;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    z-index: 1003;
}

.fadeIn {
    opacity: 1;
}

/* The INFORMATION Page */
.InformationTitle {
    color: white;
    font-size: 50px;
    width: auto;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.InformationAuthor {
    color: antiquewhite;
    width: auto;
    height: auto;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.InformationGenre {
    color: antiquewhite;
    width: auto;
    height: auto;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.InformationDescription {
    width: auto;
    height: auto;
    color: antiquewhite;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* The ADDING Page */
.AddBookLabel {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
